<div class="detail-sction">
<div class="container-fluid">

    <img src="{{product.imageURL}}"  class="detail-img">
    <h3>{{product.name }}</h3>
    <div class="price"  >{{product.price | currency:'INR'}}</div>
    <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to Cart</button>

    <hr>
    <h4>Description</h4>
    <p>{{product.description}}</p>


            <button class="btn btn-primary btn-sm" routerLink="/product"><i class="fa fa-arrow-left mr-1"></i>Back to Product List</button>
</div>


</div>
