<table class="table">
    <thead>
      <tr>
          <th></th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of products">
      <tr>
        <td><img src="{{product.imageURL}}" alt=""  height="50"></td>
        <th>{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price | currency:'INR'}}</td>
        <td>{{product.quantity}}</td>
      </tr>
      
    </tbody>
  </table>